.hero {
  padding: 20px;

  @media (min-width: 576px) {
    padding: 30px 40px;
  }
  @media (min-width: 768px) {
    padding: 40px 60px;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #222;

    @media (min-width: 576px) {
      font-size: 72px;
    }
    @media (min-width: 768px) {
      font-size: 80px;
    }
    @media (min-width: 992px) {
      font-size: 96px;
    }
  }

  &__content {
    margin-top: 60px;
    font-size: 20px;
    color: #333;

    @media (min-width: 576px) {
      font-size: 24px;
    }
    @media (min-width: 992px) {
      font-size: 30px;
    }

    ul {
      margin-top: 40px;
    }
  }
}
