.hero {
  padding: 20px;

  @media (min-width: 576px) {
    padding: 30px 40px;
  }
  @media (min-width: 768px) {
    padding: 40px 60px;
  }

  &__logo {
    text-align: center;
    height: 100px;

    img {
      filter: invert(1);
    }

    @media (min-width: 576px) {
      height: 120px;
    }
    @media (min-width: 768px) {
      height: 150px;
    }
    @media (min-width: 992px) {
      height: 180px;
    }
  }

  &__content {
    margin-top: 60px;
    font-size: 20px;
    color: #333;

    @media (min-width: 576px) {
      font-size: 24px;
    }
    @media (min-width: 992px) {
      font-size: 30px;
    }

    ul {
      margin-top: 40px;
    }
  }
}
