@import "~antd/dist/antd.css";

.ant-typography {
  color: rgba(0, 0, 0, 0.85);
}

#header {
  position: fixed;
  z-index: 101;
  width: 100%;

  .nav-bar-menu {
    display: none;

    @media (min-width: 768px) {
      display: initial;
    }
  }
}

#content-container {
  margin: 96px auto 32px;
  min-height: calc(100vh - 64px);
  padding: 0 30px 0 110px;

  @media (min-width: 576px) {
    width: 90%;
  }
  @media (min-width: 768px) {
    padding-left: 30px;
  }
  @media (min-width: 992px) {
    width: 85%;
  }
  @media (min-width: 1200px) {
    max-width: 960px;
  }
}

#sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  padding-top: 64px;
  z-index: 100;

  @media (min-width: 768px) {
    display: none;
  }
}

#footer {
  background: #bbb;
  margin-left: 80px;

  @media (min-width: 768px) {
    margin-left: 0;
  }

  .icons {
    float: right;
  }
}
